.rsvp {
    padding: 4px 12px 8px 12px;
    display: block;
    background: #E3B429;
    width: fit-content;
    border-radius: 6px;
    color: #FFFAAA;
    font-family: 'Darumadrop One';
    font-size: 20px;
    line-height: 28px;
}

@media screen and (min-width: 768px) {
    .rsvp {
        font-size: 24px;
        line-height: 28px;
    }
}